$primary-color: rgb(0, 225, 255);

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Times New Roman', Times, serif;
    font-size:110%;
}
body{

}
.intro{
    height: 100vh;
    display:flex;
    background-color: $primary-color;

    header{
        width: 50vw;
        padding:50px;
        h1{
            font-size: 400%;
            text-align: right;

        }
        p{
            text-align: right;
            a{
                font-size: 75%;
            }
        }
    }
    div{
        width: 50vw;
        img{
            width:100%;
            height: 100vh;
            object-fit: cover;
        }
    }
}
#first{
    background-attachment: url(./images/smilingwoman.jpeg);
 
    header{
        text-align:center;
        background-color: $primary-color;
        text-align: center;
        border-radius: 10px;
        margin: 20px auto 20px;
        padding: 15px;
        width:50vw; 
        border:2px solid black;
    }
}
div.content{
    
    padding: 40px;
    h1{
        text-align: center;
        text-decoration: underline;
    }
    ol{
        text-align:center;
        background-color: $primary-color;
        text-align: center;
        border-radius: 10px;
        margin: 20px auto 20px;
        padding: 15px;
        width:50vw; 
        border:2px solid black;
        list-style: none;
    }
}
.reviews{
    header{
        h2{
            text-align: center;
        }
    }
    p{
        font-size: 75%;
    }
    li{
        list-style: none;
        display: flex;
        padding: 30px auto;
        margin: 30px auto;
        img{
            width: 70px;
            height: 70px;
            border-radius: 100%;
            margin: auto 20px;
        }
        p{
            display: inline;
            font-size:70%;
        }
    }
}
.afters{
    header{
        h2{
            text-align: center;
            
        }
        p{
            text-align: center;
            font-size:70%;
    
        }

    }
    .content{
        span{
            text-align:center;
            background-color: $primary-color;
            text-align: center;
            border-radius: 5px;
            margin: 20px auto 30px;
            padding: 5px;
            border:1px solid black;
            
        }
    }
}
.form{
    header{
        h2{
            text-decoration: underline;
        }

    }
    
}
/* SEND MESSAGE */
.email-us{
    display: flex;
    flex-direction: column;
}
.email-us input,.email-us textarea{
    min-width: 75%;
    margin: 0 auto;
    padding: 10px 10px;
    flex:1;
    border-radius: 12px;
    background: $primary-color;
    opacity: .5;
}
.email-us input:first-of-type[submit]{
    background: rgb(18, 173, 166);
}
/* SOCIAL CONTACTS */

.addresses{
    margin: auto;
    li{
        list-style: none;
        font-size: 80%;
        margin: 20px;
    }
}


footer{
    background-color: transparent;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size:50%;
    cursor: pointer;

    .socials{
        padding: 20px 20px;
        display: flex;
        img{
            width: 30px;
            padding: 2px;
            margin: 20px 20px;
        }
        img:hover{
           box-shadow: 0 2px $primary-color;
        }
    }    
    
        a{
            text-decoration: none;
            color:rgb(121, 104, 214);
            p{
                font-size: 10px;
                padding-bottom: 20px;
        }
        
    }
    a:hover{
        color:  rgb(107, 5, 133);
    }
}
